<div class="container">
  <div class="row">
    <div class="col-sm-12" style='padding-bottom: 10px'>
      <h1>Your search returned <%= @items.count %> items</h1>
      <%= link_to "Search Again", '/' %>
    </div>
  </div>
  <div class="row"></div>
  <% @items.each do |item| %>
    <div class="col-sm-3">
      <h5><%= item.name %></h5>
      <img src="<%= item.image %>" height="200px">
      <p>
        <%= item.shortDescription %><br />
        <b>Price:</b> <%= item.salePrice %><br />
        <b>Average Customer Review:</b> <%= item.customerReviewAverage %><br />
        <b>SKU:</b> <%= item.sku %>
      </p>
    </div>
  <% end %>
</div>
